/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2017, 10:01:04 AM
    Author     : ashu
*/
#angrytext {
 font-size:40px;
 font-weight:bold;
 color:#10707f;
 width:1200px;
 
 
}
#angrytext1 {
 font-size:30px;
 font-weight:bold;
 color:#10707f;
 width:1200px;
 
 
}




